# non-dot files
.DS_Store
/[^.]*
/.CFUserTextEncoding
/.config/gtk-2.0/gtkfilechooser.ini
/.bash_history
/.wget-hsts
/.sheepshaver_nvram
/.wmweather
/.gnupg
/.get-hsts
/.oracle*
/.DS_Store
/.mpd*
/.FontForge*
/emacs.d/%backup%~
/.emacs.d/auto-save-list*
/.emacs.d/.emacs.desktop*
/.emacs.d/history
/.emacs.d/init.el~
/.config/mpv/watch_later*
/.cups/lpoptions
/.local*
/.ssh*
/.wine*
/.cache*
/.history*
/.Trash*
!README.md
!.mpdconf
!/GNUstep/
!/screenshots/
