# non-dot files
.DS_Store
/[^.]*
/.CFUserTextEncoding
/.bash_history
/.sheepshaver_nvram
/.wmweather
/.gnupg
/.get-hsts
/.oracle*
/.DS_Store
/.mpd*
/.FontForge*
/.emacs.d/auto-save-list*
/.config/mpv/watch_later*
/.cups/lpoptions
/.local*
/.ssh*
/.wine*
/.cache*
/.history*
/.Trash*
!README.md
!.mpdconf
!/GNUstep/
!/screenshots/
