# non-dot files
/[^.]*
/.CFUserTextEncoding
/.bash_history
/.sheepshaver_nvram
/.wmweather
/.gnupg
/.DS_Store
/.mpd*
/.FontForge*
/.ssh*
/.wine*
/.cache*
/.history*
/.Trash*
!README.md
!.mpdconf
!/GNUstep/
!/screenshots/
